{% load static %} <!-- Toda página que irá carregar arquivos estáticos, tem que iniciar com isso.-->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{{ produto.nome }} </title>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <h1>{{ produto.nome }}</h1>

        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>estoque</th>
                </tr>
            </thead>
            <tbody>
                    <td><a href="{% url 'index' %} ">{{ produto.nome }} </a></td>
                    <td>{{ produto.preco }} </td>
                    <td>{{ produto.estoque }} </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>

