{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% bootstrap_css %}
        <title>Paginação Django</title>
    </head>
    <body>
        <div class="container">
            <h1>Produtos</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr scope="col">#</tr>
                    <tr scope="col">Nome</tr>
                    <tr scope="col">Preço</tr>
                </thead>

                <tbody>
                    {% for p in page_obj %} <!--Como esta trabalhando com paginação, ao inves de ser chamado Produto, se chama page_obj-->
                        <tr>
                            <th scope="row">{{ p.id }}</th>
                            <th scope="row">{{ p.nome }}</th>
                            <th scope="row">{{ p.preco }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% include 'paginacao.html' %}
            
        </div>
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>
